<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <!-- 어떤 속성의 appender를 사용할지 클레스 및 이름 설정 -->
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log-${bySecond}.txt</file>
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date{HH:mm:ss.SSS}: %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 전체 로그 출력설정 -->
    <root level="info">
        <appender-ref ref="FILE"/>
    </root>

    <logger name="org.apache.tomcat" level="info">
        <appenter-ref ref="FILE"/>
    </logger>

    <logger name="org.hibernate.sql" level="info">
        <appenter-ref ref="FILE"/>
    </logger>

</configuration>