.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-start; /* 로고와 요소들을 왼쪽부터 차례대로 배치 */
  width: 100%;
  height: 70px;
  background: #fff;
  border-bottom: 1px solid #e3e3e3;
}

.taxMapLogo {
  width: 140.034px;
  height: 35px;
  flex-shrink: 0;
  margin-top: 18px;
  margin-bottom: 17px;
  margin-left: 42px;
  margin-right: 50px;
  background: url(../../assets/images/taxmap-official-logo.png) #fff 0px 0px /
    99.878% 100% no-repeat;
}

.links-container {
  display: flex;
  justify-content: space-between; /* nav 요소 사이 간격 지정*/
  align-items: center;
  justify-content: flex-start;
}
/* nav 세부 항목 */
.nav-item {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 70px;
  left: 0;
  display: none; /*초기값*/
  background-color: #f9f9f9;
  width: 1000px;
  /*width: auto;*/
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  grid-template-columns: repeat(4, 1fr); /* 4행 고정 */
  display: grid;
  grid-gap: 10px; /* 요소간 간격*/
  justify-content: center;
  align-items: center;
  /* 글자 */
  color: #000;
  font-family: NanumSquare;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.service-mode,
.department-mode {
  display: flex; /* navlink 내부요소인 텍스트 수평 수직 중앙정렬 */
  width: 177px;
  height: 70px;
  flex-shrink: 0;
  align-items: center; /* 내용을 세로 중앙으로 정렬 */
  justify-content: center; /* 내용을 수평 중앙으로 정렬 */
  color: #000;
  font-family: "NanumSquare", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration-line: none;
  text-align: center;
}

.service-mode {
  margin-right: 20px; /* 서비스 모드와 부처별 모드 사이의 간격 */
}

.service-mode:hover,
.department-mode:hover {
  color: #8371de; /* 마우스 오버시 텍스트 색상 변경 */
}

.nav-item p:hover {
  color: #8371de; /* 마우스 오버시 텍스트 색상 변경 */
}
